{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>WELCOME TO PYNET</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/pymain.css' %}">
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4"><b>PYNET</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'pynet-home' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'pynet-about' %}">About</a>
                    <a class="nav-item nav-link" href="{% url 'pynet-contactus' %}">ContactUs</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Login</a>
                     <a class="nav-item nav-link" href="#">Register</a>
                </div>
            </div> 
           <!-- <div class="header-section-left">
                <ul class = "header-list-left">
                    <li><a href={% url 'pynet-home' %}>Home</a></li>
                    <li><a href={% url 'pynet-about' %}>About</a></li>
                    <li><a href={% url 'pynet-contactus' %}>ContactUs</a></li>
                </ul>
            </div>
            <div class ="header-section-right">   
                <ul class = "header-list-right">    
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>   
            </div>  
        </div> -->
      </nav> 
       
    </header>
     <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                <p> Pynet is a pet project in python using Django Framework. </p>
                {% endblock %}
            </div>
            <div class="col-md-4">
                 <div class="content-section">
                    <h3>Our Sidebar</h3>
                     <p class='text-muted'>You can choose from below.
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Blog</li>
                            <li class="list-group-item list-group-item-light">News Feeds</li>
                            <li class="list-group-item list-group-item-light">Shopping help</li>
                            <li class="list-group-item list-group-item-light">Paste Bin</li>
                            <li class="list-group-item list-group-item-light">Drop Box</li>                            
                        </ul>
                 </div>
            </div>            
        </div>
        <div class="container">
            <h4> Download our search engine PYGINE </h4>
            <button type ="button" class = "btn btn-primary">Download</button>
        </div>           
    </main>
    
<!--<left>
    <div class="container">
        {% load static %}
        <img src = "{%  static 'blog/image2.png' %}">
</left> -->
</body>
